<table class="table">
  <thead>
    <tr>
      <th *ngIf="checkbox">
        <label *ngIf="checkbox.showSelectAll" class="checkbox">
          <input type="checkbox" (change)="onSelectAll($event)" />
        </label>
      </th>
      <th *ngFor="let column of columns">
        <p>{{ column.title }}</p>
      </th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let element of elements$ | async; index as i">
      <tr
        [ngClass]="{
          'is-selected': element.selected,
        }"
      >
        <td *ngIf="checkbox">
          <label class="checkbox">
            <input
              type="checkbox"
              [checked]="element.selected"
              (change)="onElementSelected(element)"
            />
          </label>
        </td>
        <td *ngFor="let column of columns">
          <ng-container
            [ngTemplateOutlet]="column.template"
            [ngTemplateOutletContext]="{
              $implicit: element.data,
              index: i,
            }"
          >
          </ng-container>
        </td>
      </tr>
      <ng-container *ngIf="expandable && expandable.expanded$ | async as row">
        <tr *ngIf="row.expanded(i)">
          <td class="expandable-content" [attr.colspan]="columns.length + 2">
            <ng-container
              [ngTemplateOutlet]="expandable!.template"
              [ngTemplateOutletContext]="{
                $implicit: element.data,
                index: i,
              }"
            >
            </ng-container>
          </td>
        </tr>
      </ng-container>
    </ng-container>
  </tbody>
</table>
