<h1 class="is-size-1">TABLE EXAMPLE</h1>

<app-table [selectBy]="key" [data]="data">
  <app-table-expandable-row>
    <app-table-checkbox-column
      [showSelectAll]="true"
    ></app-table-checkbox-column>
    <app-table-column title="Name">
      <ng-template appTableElement let-option>
        <p>{{ option.name }}</p>
      </ng-template>
    </app-table-column>
    <app-table-column title="Value">
      <ng-template appTableElement let-option>
        <p>{{ value(option) }}</p>
      </ng-template>
    </app-table-column>

    <ng-template appTableExpandableIcon let-option let-expanded="expanded">
      <ng-container *ngIf="option.suppliers">
        <span *ngIf="option.suppliers.length > 0 && !expanded"> > </span>
        <span *ngIf="option.suppliers.length > 0 && expanded"> < </span>
      </ng-container>
    </ng-template>

    <ng-template appTableExpandableContent let-option>
      <app-test [data]="option.suppliers"></app-test>
    </ng-template>
  </app-table-expandable-row>
</app-table>
