<h1 class="is-size-1">TABLE EXAMPLE</h1>

<app-table [selectBy]="key" [data]="data" [(selectedKeys)]="selecteds">
  <app-table-expandable-row>
    <app-table-checkbox-column
      [showSelectAll]="true"
    ></app-table-checkbox-column>
    <app-table-column title="Name">
      <ng-template appTableElement let-option>
        <p>{{ option.name }}</p>
      </ng-template>
    </app-table-column>
    <app-table-column title="Value">
      <ng-template appTableElement let-option>
        <p>{{ value(option) }}</p>
      </ng-template>
    </app-table-column>

    <app-table-column title="Actions">
      <ng-template appTableElement let-option let-row="index">
        <ng-container *ngIf="option.group">
          <button type="button" (click)="onExpanded(row, option)">
            <ng-container
              *ngIf="expandable?.expanded$ | async as state; else init"
            >
              <span *ngIf="!state.expanded(row)">Expand</span>
              <span *ngIf="state.expanded(row)">Close</span>
            </ng-container>
            <ng-template #init>
              <span>Expand</span>
            </ng-template>
          </button>
        </ng-container>
      </ng-template>
    </app-table-column>

    <ng-template appTableExpandableContent let-option>
      <app-test [data]="option.suppliers"></app-test>
    </ng-template>
  </app-table-expandable-row>
</app-table>
